<header class="header">
  <div id="logo">
    <img src="/img/little-invest.svg" alt="Logo - Little Invest">
  </div>
  <div class="navigation">
    <span>
      <a href="#">Investimentos</a>
    </span>
    <span>
      <a href="#">Serviços</a>
    </span>
    <span>
      <a href="#">Contato</a>
    </span>

    <button class="btn">Cadastre-se</button>
  </div>
</header>